# Import statements

In [1]:
import numpy as np
import pandas as pd

# Import Data

In [2]:
dfCCO = pd.read_csv(r"..\Data\cco_cost_monthly.csv")

In [3]:
dfPYCO = pd.read_csv(r"..\Data\pyco_cost_monthly.csv", low_memory=False)

In [4]:
dfXCO = pd.read_csv(r"..\Data\xco_cost_monthly.csv")

# EDA and analysis

In [5]:
dfCCO.head()

,cloud_resource_id,usage_account_id,billing_account_id,provider_code,usage_amount,currency_code,tax,sub_total,total_cost,system_currency_code,...,pricing_unit,memory,operating_system,vpcu,phsyical_processor,volume_type,storage,storage_class,storage_media,invoice_month
0,NaN,751355800400,751355800400,aws,1.0,USD,0.0,0.0,0.03,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-01
1,NaN,751355800400,751355800400,aws,2.0,USD,0.0,0.0,0.07,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-01
2,NaN,751355800400,751355800400,aws,1.0,USD,0.0,0.0,0.00,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-01
3,arn:aws:kms:us-east-1:751355800400:key/5fedb8a...,751355800400,751355800400,aws,18.0,USD,0.0,0.0,0.00,USD,...,Requests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-01
4,arn:aws:cognito-idp:us-east-1:751355800400:use...,751355800400,751355800400,aws,2.0,USD,0.0,0.0,0.00,USD,...,Requests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-01

In [6]:
dfCCO.describe()

,usage_account_id,billing_account_id,usage_amount,tax,sub_total,total_cost,conversion_rate,converted_total_cost,blended_rate,unblended_rate,unblended_cost,pricing_rate_id,public_ondemand_cost,public_ondemand_rate,vpcu
count,2.480000e+03,2.480000e+03,2480.000000,2480.0,2480.0,2480.000000,2480.0,2480.000000,2480.000000,2480.000000,2480.000000,2.432000e+03,2.480000e+03,2480.000000,127.000000
mean,7.513558e+11,7.513558e+11,138.260043,0.0,0.0,0.572872,1.0,0.572872,0.019913,0.019913,0.572872,2.542116e+09,5.402971e-01,0.038027,2.181102
std,0.000000e+00,0.000000e+00,3015.668306,0.0,0.0,5.289228,0.0,5.289228,0.242920,0.242920,5.289228,3.406562e+08,5.270190e+00,0.256320,0.706178
min,7.513558e+11,7.513558e+11,0.000000,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,1.636605e+09,0.000000e+00,0.000000,1.000000
25%,7.513558e+11,7.513558e+11,0.000004,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,2.276567e+09,0.000000e+00,0.000000,2.000000
50%,7.513558e+11,7.513558e+11,0.000342,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,2.557254e+09,2.729000e-07,0.010400,2.000000
75%,7.513558e+11,7.513558e+11,0.343660,0.0,0.0,0.000046,1.0,0.000046,0.020000,0.020000,0.000046,2.850091e+09,2.068233e-04,0.030000,2.000000
max,7.513558e+11,7.513558e+11,100512.000000,0.0,0.0,132.254000,1.0,132.254000,12.000000,12.000000,132.254000,3.087511e+09,1.322540e+02,12.000000,4.000000

In [7]:
print(dfCCO.shape, dfPYCO.shape, dfXCO.shape)

(2480, 44) (956584, 44) (24946, 44)

In [10]:
dfCCO.loc[:, "currency_code"].unique()

array(['USD'], dtype=object)

In [12]:
dfPYCO.loc[:, "currency_code"].unique()

array(['USD'], dtype=object)

In [13]:
dfCCO["origin"] = "CCO"

In [14]:
dfPYCO["origin"] = "PYCO"

In [15]:
dfXCO["origin"] = "XCO"

In [19]:
dfTotal = pd.concat([dfCCO, dfPYCO, dfXCO], axis=0)

A total of almost a million rows and 45 columns! This is a pretty hefty dataset and will need some knowledge to compute higher level ideas.

In [20]:
dfTotal.shape

(984010, 45)

Get a sense of the percent null counts for each column

In [24]:
dfTotal.isna().sum() / dfTotal.shape[0]

cloud_resource_id       0.003146
usage_account_id        0.000000
billing_account_id      0.000000
provider_code           0.000000
usage_amount            0.000000
currency_code           0.000000
tax                     0.000000
sub_total               0.000000
total_cost              0.000000
system_currency_code    0.000000
conversion_rate         0.000000
converted_total_cost    0.000000
product_name            0.000000
service_code            0.084868
service_name            0.084906
product_sku             0.000605
availability_zone       0.995690
location_id             0.000605
usage_type              0.084868
usage_type_group        0.989718
cost_type               0.000000
instance_type           0.996030
blended_rate            0.000000
unblended_rate          0.000000
unblended_cost          0.000000
category                0.000000
clock_speed             0.996988
from_location           0.577076
to_location             0.577076
transfer_type           0.577076
pricing_rate_id         0.000605
public_ondemand_cost    0.000000
public_ondemand_rate    0.000000
pricing_term            0.097949
pricing_unit            0.000605
memory                  0.996018
operating_system        0.996992
vpcu                    0.996012
phsyical_processor      0.996180
volume_type             0.996372
storage                 0.996179
storage_class           0.998962
storage_media           0.985840
invoice_month           0.000000
origin                  0.000000
dtype: float64

In [25]:
dfTotal.nunique()

cloud_resource_id       279088
usage_account_id             4
billing_account_id           3
provider_code                1
usage_amount            111997
currency_code                1
tax                          1
sub_total                    1
total_cost              132600
system_currency_code         1
conversion_rate              1
converted_total_cost    132600
product_name                47
service_code                41
service_name                40
product_sku                598
availability_zone           13
location_id                 18
usage_type                 525
usage_type_group            61
cost_type                    6
instance_type               52
blended_rate               479
unblended_rate             143
unblended_cost          127870
category                    60
clock_speed                 11
from_location               24
to_location                 28
transfer_type                6
pricing_rate_id           2866
public_ondemand_cost     66222
public_ondemand_rate       138
pricing_term                 2
pricing_unit                56
memory                      17
operating_system             3
vpcu                         6
phsyical_processor          11
volume_type                 10
storage                      6
storage_class                3
storage_media                6
invoice_month               19
origin                       3
dtype: int64

All of these clients are exclusively using AWS and not something like Azure or Google Cloud Services

In [26]:
dfTotal["storage"].unique()

array([nan, 'EBS only', 'EBS Only', '1 x 150 NVMe SSD', '60GB',
       '1 x 475 NVMe SSD', '2 x 300 NVMe SSD'], dtype=object)

In [29]:
dfTotal["operating_system"].unique()

array([nan, 'Linux', 'Windows', 'RHEL'], dtype=object)

In [36]:
dfTotal[dfTotal["operating_system"] == "Windows"].count() / dfTotal["operating_system"].count()

cloud_resource_id       0.020946
usage_account_id        0.020946
billing_account_id      0.020946
provider_code           0.020946
usage_amount            0.020946
currency_code           0.020946
tax                     0.020946
sub_total               0.020946
total_cost              0.020946
system_currency_code    0.020946
conversion_rate         0.020946
converted_total_cost    0.020946
product_name            0.020946
service_code            0.020946
service_name            0.020946
product_sku             0.020946
availability_zone       0.020946
location_id             0.020946
usage_type              0.020946
usage_type_group        0.000000
cost_type               0.020946
instance_type           0.020608
blended_rate            0.020946
unblended_rate          0.020946
unblended_cost          0.020946
category                0.020946
clock_speed             0.019595
from_location           0.000000
to_location             0.000000
transfer_type           0.000000
pricing_rate_id         0.020946
public_ondemand_cost    0.020946
public_ondemand_rate    0.020946
pricing_term            0.020946
pricing_unit            0.020946
memory                  0.020608
operating_system        0.020946
vpcu                    0.020608
phsyical_processor      0.020608
volume_type             0.000000
storage                 0.020608
storage_class           0.000000
storage_media           0.000000
invoice_month           0.020946
origin                  0.020946
dtype: float64